.page {
    width: 750px;
    margin: auto;
    font-size: 16px;
    font-family: 'Grand Hotel', cursive;
    background-image: url(Style.jpg) ;
    
    
}

.InfoPhoto{
    height : 200px;
    
}

.Info {
    float: left;
    margin-left: 10px;
    color: white;
    
}

.Photo{
    float: right;
    
}

.Section {
    margin-bottom: 50px;
    margin-left: 50px; 
    text-shadow: 1px 1px 2px rgb(144, 155, 252), 0 0 1em rgb(73, 73, 153), 0 0 0.2em rgb(32, 32, 73);
}

.Sec-Gauche {
    float: left;
    color: white;
    
}

.Sec-Droite {
    margin-left: 150px;
    color: white;
    
    
}


h2 {
    font-size: 28px;
    color: rgb(15, 15, 121);
    text-transform: uppercase;
    border-bottom: 3px solid rgb(153, 91, 143);
    

}

.Sec-Gauche {
    float: left;
    font-size: 16px;
}
    

.Sec-Droite {
    margin-left: 150px;
    
}

.Titre {
    
    font-size: 17px;
}

.Sec-Droite{
    margin-left: 150px;
    margin-top: 37px;
    padding-bottom: 10px;
}

